.main h1{
  margin: 10px;
}

.main hr{
  width: 90%;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar span{
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  color: black;
  text-decoration: none;
}

.noStyling{
  text-decoration: inherit;
  color: inherit;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calcBody{
  display: flex;
  flex-wrap: wrap;
  gap:5px;
  width:235px;
  padding: 20px;
  border:2px black solid;
  background-color: rgb(187, 238, 171);
}

.calcBody div{
  box-sizing: border-box;
  background-color: rgb(228, 247, 212);
}

.calcDisplay{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 235px;
  height: 55px;
  border: 2px black solid;
  overflow-y: hidden;
  padding-right:5px;
}

.calcDisplay p{
  margin: 0;
  font-size: 35px;
}

.calcButton{
  display: flex;
  width: 55px;
  height: 55px;
  background-color: rgb(151, 193, 138);
  border:2px black solid;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.calcButton:active{
  background-color: rgb(136, 173, 125);
}

.calcButton p{
  margin: 0;
}
